@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');
body{
    overflow-x: hidden;
}
ul.nav a:hover{
 color: #FF931E !important;
 }

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-size: 80px;
    padding-top: 10px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #303030;
    text-align: center;
    font-size: 70px;
    padding-top: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}
.p_cinza{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #303030;
    text-align: center;
    font-size: 30px;
}
.p_cinza2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #303030;
    text-align: center;
    font-size: 15px;
}
.p_branco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
.Azul_claro{
    color: #0097C4 !important;
}
.Azul_escuro{
    color: #024A7F;
}
.Laranja{
    color: #FF931E;
}
.cinza{
    background-color: #303030 !important;
    padding: 40px;
}
.branco{
    padding: 40px;
    border-bottom: 30px solid #FF931E;
}
.barra{
    border-bottom: 30px solid #FF931E;
}
i{
    color: #FF931E;
    font-size: 100px;
}
.seta{
    color: #303030;
}
.seta1{
    padding: 40px;
    align-items: center;
    display: flex;
    text-align: center;
}
#texto_1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}
#texto_2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #303030;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}
.quadrado {
    background-color: #303030;
    border-top: 30px solid #FF931E;
    border-bottom: 30px solid #FF931E;
    padding: 40px;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.quadrado2 {
    padding: 40px;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.quadrado3{
    margin-top: 5%;
    background-color: #303030;
    border-top: 30px solid #FF931E;
    border-bottom: 30px solid #FF931E;
    color: #fff ;
}
.linha-laranja {
    display: inline-block;
    border-top: 2px solid #FF931E;
    padding-top: 10px; /* Espaçamento acima da linha */
    font-size: 30px;
    color: #FF931E;
  }
.centralizado{
    text-align: center;
}
.centralizado2 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.fundo{
    background-image: url(img/onda.png);
    width: auto;
    height: 380px;
}
.fundo2{
    background-image: url(img/onda_reverse.png);
    width: auto;
    height: 380px;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
#botoes{
   width: 100%;
}
#botao{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    border-radius:  40px 40px 40px;
    background-color: #024A7F;  
    margin-top: 50px;
}
#botao_wpp{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    border-radius:  40px 40px 40px;
    background-color: #28a745;  
    margin-top: 50px;
}
.wpp{
    font-size: 40px;
    color: #fff;
}
.botao_1, .botao_2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 45px;
    border-radius:  40px 40px 40px;
    margin-top: 50px;
    align-items: center;
    color: #FF931E;
    background-color: #000000;
    padding: 10px 20px;
}
.botao_1:hover, .botao_2:hover{
    color: #fff;
    background-color: #303030;
    transform: scale(1.05);
    transition: transform 1.5s ease-in-out;
}
.botao-ativo {
    background-color: #FFA500;
    color: #FFF;
  }
.Logo{
    width: 200px !important;
    height: auto;
}
.rowdivs:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
.rowdivs:hover #texto_row {
    color: #FF931E;
}
  
.rowdivs:hover i {
    color: #fff !important;
}
  
.rowdivs:hover #texto_row:hover ~ i {
    color: #FF931E;
}
.card_todo{
    position: absolute;
    width: 100%;
    margin-top: 15%; 
}
.card_row{
   margin-left: 25%;
   margin-right: 25%;
   background-color: #303030;
   color: #fff;
}
.card_info{
    background-color: #FF931E;
    color: #303030;
}
.seta_baixo{
    font-size: 20px;
}
.icon_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 767px) {
    h1, h2 {
      font-size: 30px;
    }
    p{
        font-size: 15px;
    }
    #texto_1, #texto_2{
        font-size: 12px;
    }
    #botao{
        font-size: 20px;
    }
    .Logo{
        width: 100px !important;
        margin: 10px;
    }

  }

.animacao1{
    animation-name: animacao;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.animacao2{
    animation-name: animacao;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.animacao3{
    animation-name: animacao;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.animacao4{
    animation-name: animacao_verde;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes animacao{
    from{color: #303030;}
    to{color: #FF931E;}
}
@keyframes animacao_verde{
    from{color: #303030;}
    to{color: #28a745;}
}



