@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');

ul.nav a:hover{
 color: #FF931E !important;
 }
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-size: 80px;
    padding-top: 10px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #303030;
    text-align: center;
    font-size: 70px;
    padding-top: 10px;
}
.p_cinza{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #303030;
    text-align: center;
    font-size: 30px;
}
.p_branco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
.Azul_claro{
    color: #0097C4 !important;
}
.Azul_escuro{
    color: #024A7F;
}
.Laranja{
    color: #FF931E;
}
.cinza{
    background-color: #303030 !important;
    padding: 40px;
}
.branco{
    padding: 40px;
    border-bottom: 30px solid #FF931E;
}
#texto_1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}
#texto_2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #303030;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}
.quadrado {
    background-color: #303030;
    border-top: 30px solid #FF931E;
    border-bottom: 30px solid #FF931E;
    padding: 40px;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.linha-laranja {
    display: inline-block;
    border-top: 2px solid #FF931E;
    padding-top: 10px; /* Espaçamento acima da linha */
    font-size: 30px;
    color: #FF931E;
  }
.centralizado{
    text-align: center;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
#botoes{
   width: 100%;
}
#botao{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    border-radius:  40px 40px 40px;
    background-color: #024A7F;  
    margin-top: 50px;
}
.Logo{
    width: 200px !important;
    height: auto;
}
@media (max-width: 767px) {
    h1, h2 {
      font-size: 30px;
    }
    p{
        font-size: 15px;
    }
    #texto_1, #texto_2{
        font-size: 12px;
    }
    #botao{
        font-size: 20px;
    }
    .Logo{
        width: 100px !important;
        margin: 10px;
    }

  }